
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h2>Σύνδεση Χρήστη</h2>
        
    	<div th:if="${message}">
        	<p th:text="${message}" style="color: green;"></p>
   		</div>
        
        <div th:if="${error}">
    		<p th:text="${error}" style="color: red;"></p>
		</div>
		
      <form method="post" action="/login">
            <label for="username">Όνομα χρήστη</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Κωδικός</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Σύνδεση</button>
        </form>
        <br>
        <p>Δεν είστε Χρήστης; </p><a href="/register">Εγγραφή</a>
        </div>
</body>
</html>

